# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Temporary notebooks
*_temp.ipynb

# Data folders
data

# Raw data
*.csv
*.xls
*.xlsx
*.zip

# Documents
*odt

# Pictures
*.png

# joblib files
*.joblib

# Other
*/Icon
*/Icon_
*/images/